html {
    scroll-behavior: smooth;
}
.navbar {
    background-color: rgba(20, 18, 18, 0.712);
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 10px;
    left: 50%;
    right: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    list-style-type: none;
}
.navbar a{
    color: #fff;
    text-align: center;
    padding: 16px 18px;
    font-size: 22px;
    text-decoration: none;
}
.navbar a.active{
    font-size: 24px;
    color:rgba(219, 100, 3, 0.842);
}
.navbar .icon {
    display: none;
}    
    .content {
    padding: 40px 60px;
}
.sticky {
    position: fixed;
    top: 25px;
    width: 100%;
}
.sticky + .content {
    padding-top: 85px;
}

body {+
    background: rgb(8,3,0);
    background: linear-gradient(180deg, rgba(8,3,0,1) 0%, rgba(41,23,14,1) 10%, rgba(68,39,26,1) 20%);
    background-color: #44271a;
    padding-top: 1%;
    color:rgba(228, 219, 211, 0.856);
}
h1 {
    text-align: center;
    font-size: 55px;
    font-family: 'Special Elite', 'Courier New', sans-serif;
    font-weight: normal !important;
    color:rgba(243, 229, 217, 0.911);
    padding: 10px;
    margin: 0% 5% 5% 5%;
}
h2 {
    text-align: center;
    font-size: 32px;
    font-family: 'Emilys Candy', 'Courier New', sans-serif;
    font-weight: normal !important;
    color:rgba(231, 216, 213, 0.808);
    font-variant: small-caps;
    text-shadow: 0px 0px 3px rgba(8, 5, 3, 0.945)
}
h3 { /* ADDED H3 */
    text-align: center;
    font-size: 28px;
    font-family: 'Libre Baskerville', 'Courier New', sans-serif;
    font-weight: normal !important;
    color:rgba(219, 100, 3, 0.842);
    font-variant: small-caps;
    text-shadow: 0px 0px 3px rgba(8, 5, 3, 0.945);
    opacity: 80%;
}
a{
    color:rgba(219, 100, 3, 0.842);
}
a:hover {
    color:rgba(196, 46, 0, 0.815);
    letter-spacing: 1.2px;
    text-decoration: line-through;
    transition-duration: 1s;
}
i, em {
    color:rgb(163, 159, 185);
}
b, strong {
    color:rgba(231, 90, 24, 0.925);
    text-shadow: 0px 0px 2px rgb(15, 5, 2)
}
u {
    color:rgba(211, 204, 197, 0.911);
}
.responsive{
    max-width: 30%;
    height: auto;
}
::-webkit-scrollbar {
    width: 12px;
    opacity: 0.7px;
    background: #2828289f;
  }
  
::-webkit-scrollbar-thumb {
    background: #270902d7;
    opacity: 0.8px;
  }
.button {
    background-color:rgb(0, 0, 0, 0.8);
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
  }
